* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #292929;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #835afd;
  font-weight: 500;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }
}

@keyframes appearWithFade {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes appearFromRight {
  from { transform: translate(50px, 50px); }
  to { transform: translate(0, 0); }
}

@keyframes appearFromLeft {
  from { transform: translate(-50px, 50px); }
  to { transform: translate(0, 0); }
}


// https://dev.to/afif/border-with-gradient-and-radius-387f
div.avatar-container {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  
  &::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius: 50%; 
    padding: 3px; 
    background: linear-gradient(150deg, #835afd, #e559f9); 
    -webkit-mask: 
      linear-gradient(#835afd 0 0) content-box, 
      linear-gradient(#e559f9 0 0);
    -webkit-mask-composite: destination-out; 
    mask-composite: exclude;
  }

  img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
  }
}
